
.wrapper{
  height: 100%;
  background-color: whitesmoke;

  .header__icon:hover{
    opacity: 0.7;
  }
.top__banner{
  width: 100%;
  height: 80px;
  padding: 25px 600px 0 600px;    
  .header__icon{
    width: 60%;
  }
}

.contain{
  background-color: whitesmoke;

}
.main{
  margin: 0 auto;
  width: 45%;
  background-color: white;
  &__content1{
    font-weight: bold;
    text-align: center;
  }
  &__one{
    height: 80px;
    p{
      line-height: 80px;
      font-size: 20px;
      text-align: center;
      border-bottom: solid 1px lightgray;
    }
  }
  &__two{
    padding: 15px 160px 15px 160px;
    border-bottom: solid 1px lightgray;
    &__detail{
      display: flex;
      &__right{
        p{
          font-size: 20px;
        }
      }
    }
    &__price{
      p{
        font-size: 25px;
        span{
          font-weight: 100;
          font-size: 10px;
        }
      }
    }
    &__point{
      background: lightgray;
      height: 40px;
      margin: 15px 0;

      p{
        line-height: 40px;
        font-weight: 100;
      }
    }
    &__total{
      p{
        font-size: 20px;
      }
      &__right{
        font-size: 25px;
      }
    }
    &__caution{
      clear: both;
      p{
        color: red;
        font-weight: 100;
        font-size: 14px;
        padding-top: 5px;
      }
    }
    &__purchase{

      margin: 15px 0;
      .purchase__btn{
        color: white;
        background: gray;
        height: 40px;
        padding: 10px 130px;
        text-decoration: none;
  
      }
    }
  }

  &__three{
    height: 150px;
    border-bottom: solid 1px lightgray;
    padding: 15px 150px 15px 150px;
    position: relative;
    &__address{
      float: left;
    }
    p{
      margin: 3px 0;
      text-align: left;
      font-size: 14px;
    }
    span{
      font-weight: 100;
    }
    a p{
      color: rgba(0, 183, 255, 0.863);
      margin-bottom: 10px;
    }
  }
  &__four{
    height: 150px;
    padding: 15px 150px 15px 150px;
    position: relative;
    &__payment{
      float: left;
    }
    a p{
      color: rgba(0, 183, 255, 0.863);
      margin-bottom: 10px;

    }
    p{
      margin: 3px 0 15px 0;
      text-align: left;
      font-size: 14px;

    }
    span{
      font-weight: 100;
      font-size: 14px;

    }
  }
}

#main__two__detail{
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.main__two__total__left{
  float: left;

}

.main__two__total__right{
  float: right;
}

.gray__footer{
  height: 200px;
  text-align: center;
  padding: 30px 0;
  text-decoration: none;
  font-weight: 100;
  
  a{
    text-decoration: none;
    font-weight: 100;
    color: black;
    font-size: 12px;
  }
  .icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
  .year{
    p{
      font-size: 11px;
      margin: 35px 0;
    }
  }
}

.edit__btn{
  float: right;
  text-decoration: none;
  position: absolute;
  right: 175px;
  bottom: 0;
  color: rgba(0, 183, 255, 0.863);
  padding-bottom: 5px;
}

}

.price_one{
  font-size: 20px;
}