%nav.breadcrumb
  %ul.breadcrumb__list
    %li.breadcrumb__item
      = link_to "メルカリ", "#", class: "breadcrumb__link"
      = fa_icon 'angle-right', class: 'icon'
    %li.breadcrumb__item
      = link_to "マイページ", "#", class: "breadcrumb__link"
