.bread
  %nav.bread_crumbs
    %ul.bread_crumbs_list
      - case params.values_at :controller, :action
      - when ['items', 'list']
        -breadcrumb :items
      - when ['items', 'show']
        -breadcrumb :item_show
      - when ['user', 'show']
        -breadcrumb :user
      - when ['user', 'to_destroy']
        -breadcrumb :logout

      = breadcrumbs separator: " &rsaquo; "

