%section.l-single-container
  %h2.l-single-head.registration クレジットカード情報入力
  = form_tag(pay_user_credit_cards_path(current_user.id), method: :post, id: 'charge-form',  name: "inputForm",class:"forming") do
    .l-single-content
      .form-group
        %label カード番号
        %span.form-require 必須
        = text_field_tag "number", "", class: "form-text", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
        %ul.signup-card-list
          %li
            %img{alt:"", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3951034907", width: "49"}/
          %li
            %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3951034907", width: "34"}/
          %li
            %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3951034907", width: "30"}/
          %li
            %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3951034907", width: "32"}/
          %li
            %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3951034907", width: "21"}/
          %li
            %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3951034907", width: "32"}/
          %li
            %img{alt:"", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3951034907", width: "32"}/
      .form-group
        %label 有効期限
        %span.form-require 必須
        %br/

        .birthday-select-wrap
          .select-wrap
            %select#exp_month{name: "exp_month", type: "text", class:"select-box"}
              %option{value: ""} --
              %option{value: "1"} 1
              %option{value: "2"} 2
              %option{value: "3"} 3
              %option{value: "4"} 4
              %option{value: "5"} 5
              %option{value: "6"} 6
              %option{value: "7"} 7
              %option{value: "8"} 8
              %option{value: "9"} 9
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            %span 月
          .select-wrap
            %select#exp_year{name: "exp_year", type: "text", class:"select-box"}
              %option{value: ""} --
              %option{value: "2019"} 19
              %option{value: "2020"} 20
              %option{value: "2021"} 21
              %option{value: "2022"} 22
              %option{value: "2023"} 23
              %option{value: "2024"} 24
              %option{value: "2025"} 25
              %option{value: "2026"} 26
              %option{value: "2027"} 27
              %option{value: "2028"} 28
              %option{value: "2029"} 29
            %span 年

      .form-group
        %label{for:"security_code"} セキュリティコード
        %span.form-require 必須
        = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
      .form-group.text-right
        .form-body
          %span.question ?
          %p.question カード裏面の番号とは?
      #card_token
      = submit_tag "追加する", id: "token_submit", class: "btn-default"