%nav
  %ul.clearfix
    %li
      = link_to 'プライバシーポリシー','#'
    %li
      = link_to 'メルカリ利用規約','#'
    %li
      = link_to '特定商取引に関する表記','#'
%a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
  %img{:alt => "mercari", :height => "65", :src => "#", :width => "80"}/
%p
  %small © 2019 Mercari