.main__right__top
  支払い方法
.main__right__middle
  .main__right__middle__top
    %p.main__right__middle__card クレジットカード一覧
    %button
      = link_to "クレジットカードを追加する", "#", class: "main__right__middle__btn"

.main__right__bottom
  =link_to "支払い方法について ＞", "#", class: "upload"
