.main-side
  .select
    %select.select-box

  .search-box
  -#   = form_with model: @item, class:'item-registration__form', id: 'item-registration-form', local: true, html: { multipart: true } do |f|
  -#   %h1 詳細検索
  -#   %h1 ➕キーワードを追加する
  -#   = f.text_field :name, value: ""

