-@items.each do |item|
  .posts__item
    =link_to "#" do
      .image
        = image_tag item.images.first.image[0].url, class:"other_item"
      .explaination
        .explaination__name
          = item.name
        .explaination__price
          = insert_price(item.price)
          %span.heart ♡
