.bottom__banner__left
  %div
    .bottom__banner__sentence
      %p スマホでかんたんスマホアプリ
      %p
        %span 今すぐ無料ダウンロード！
    .bottom__image
      .bottom__image1
        %img#bottom__image.bottom__image1__merucari{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?273499512"}/
      .bottom__image2
        %a{:href => ""}
          %img#bottom__image{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?273499512"}/
      .bottom__image3
        %a{:href => ""}
          %img#bottom__image{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?273499512"}/
  .bottom__banner__right
    %img#bottom__banner__right{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?273499512"}/
