.user_new{
  text-align:center;
  background:#f5f5f5;
  height:100vh;
  width:100vw;
  .header.single-header{
    height: 128px;
    padding: 49px 0 12px;
    background:#f5f5f5;
    
    h1{
      img{
        height: 49px;
      }
    }
  }
  .single-container-registration{
    width: 700px;
    background: white;
    margin:0 auto;
    line-height: inherit;
    display:block;
    &__top{
    max-width: 343px;
    margin:0 auto;
    font-weight: bold;
    line-height: 1.5;
    font-size:22px;
    height: 97px;
    padding:16px;
    margin-top:20px;
    margin-bottom: 16px;
    border-bottom: solid 1px #f5f5f5;
    }
    &__link{
      margin:0 auto;
      max-width: 343px;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      display: flex;
      flex-direction: column;
      padding: 24px 16px 40px;
      font-size:14px;
      line-height: 50px;
      &__e-mail{
        border-radius: 4px;
        background-color: #ea352d;
        color:white;
        text-decoration: none;
        margin-bottom: 16px;
        .icon{
          float:left;
          margin-top:20px;
          margin-left:10px;
        }
      }
      &__facebook{
        border-radius: 4px;
        background-color:#385185;
        color:white;
        text-decoration: none;
        margin-bottom: 16px;
        img{
          float:left;
          margin-top:10px;
          margin-left:10px;
          width:25px;
          height:25px;
        }
      }
      &__google{
        border-radius: 4px;
        background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
        border: #979797 solid 1px;
        color: #333;
        text-decoration: none;
        margin-bottom: 16px;
        img{
          float:left;
          margin-top:10px;
          margin-left:10px;
          width:25px;
          height:25px;
        }
      }
    }
  }
  .single-container-session{
    width: 456px;
    background: white;
    margin:0 auto;
    line-height: inherit;
    display:block;
    padding: 40px 64px;
    min-height: 100%;
    &__top{
    margin:0 auto;
    line-height: 1.5;
    font-size:14px;
    height: 97px;
    margin-bottom: 16px;
    border-bottom: solid 1px #f5f5f5;
      .new-registration{
        border: 1px solid #0099e8;
        background: #0099e8;
        margin-top: 8px;
        color: #fff;
        line-height: 40px;
        &__link{
          color:white;
          margin: 24px 0 0;
        }
      }
      .single-container-session-sns{
        margin:0 auto;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        display: flex;
        flex-direction: column;
        font-size:14px;
        line-height: 50px;
        width:100%;
        margin: 24px 0 0;
        &__facebook{
          background-color:#385185;
          color:white;
          text-decoration: none;
          margin-bottom: 16px;
          img{
            float:left;
            margin-top:10px;
            margin-left:10px;
            width:25px;
            height:25px;
          }
        }
        &__google{
          background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
          border: #979797 solid 1px;
          color: #333;
          text-decoration: none;
          margin-bottom: 16px;
          width: 100%;
          img{
            float:left;
            margin-top:10px;
            margin-left:10px;
            width:25px;
            height:25px;
          }
        }
      }
      main.single-main{
        section.l-single-container{
          margin: 0 auto;
          .forming{
            .l-single-content{
              border-bottom: 1px solid #f5f5f5;
              width:343px;
              margin:0 auto;
              .form-group{
                margin: 24px 0 0;
                .form-text{
                  margin: 8px 0 0;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  width: 100%;
                }
              }
              .btn-default{
                margin: 24px 0 50px;
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                width: 100%;
                height:50px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .footer.single-footer{
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height:250px;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    nav{
      ul.clearfix{
        font: 66.66667% sans-serif;
        display: flex;
        justify-content: center;
        li{
          a{
            color: rgb(51, 51, 51);
            text-decoration: none;
          }
        }
      }
    }
    a.single-footer-logo{
      // img{
      //   width: 500px;
      //   height: 65px;
      //   margin: 40px auto 0;
      // }
    }
  }
}
