$color-bg-gray: #f5f5f5;
$color-white: #fff;
$color-light-gray: #ccc;
$color-red: #ea352d;
$color-gray: #888;
$color-bg-yellow: #fff6cf;
$color-pink: #ef5185;
$color-orange: #fbaa34;
$color-blue: #69b5d8;

.confirm-main {
  background-color: $color-bg-gray;
  margin: 40px 0 40px;
  &__container {
    background-color: $color-white;
    margin: 0 auto;
    width: 700px;
  }
}

.confirm-head {
  border-bottom: 1px solid $color-bg-gray;
  font-size: 22px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
}

.confirm-content {
  padding: 24px 12.5% 0;
}

.confirm-item {
  margin: 0 auto;
  width: 320px;

  &__image {
    height: 64px;
    width: 64px;
  }

  &__name {
    float: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    width: 240px;
  }

  &__price {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0 0;
    text-align: center;
    width: 100%;
  }

  &__shipment-fee {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
  }

  &__point {
    background-color: $color-light-gray;
    border: 1px solid $color-light-gray;
    box-sizing: border-box;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    margin-top: 16px;
    text-align: center;
  }

  &__total-price-label {
    font-size: 18px;
    font-weight: 600;
    padding: 16px 0;
    text-align: left;
  }

  &__total-price {
    bottom: 3px;
    float: right;
    font-size: 28px;
    position: relative;
  }

  &__error-message {
    text-align: center;
    margin: 8px 0 0;
    color: $color-red;
    font-size: 14px;
  }
}

.confirm-purchase-btn {
  background: $color-red;
  color: $color-white;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

.btn-disabled {
  background: $color-gray;
  border: 1px solid $color-gray;
  color: $color-white;
  cursor: not-allowed;
}

.confirm-user {
  border-top: 1px solid $color-bg-gray;
  font-size: 14px;
  margin: 40px 0 0;
  padding: 24px 12.5% 0;

  &--btm {
    padding-bottom: 40px;
  }
}

.confirm-address {
  margin: 8px 0 0;

  &__head {
    font-weight: bold;
  }
}

.confirm-link {
  text-align: right;

  &:hover {
    opacity: .7;
    text-decoration: underline;
  }
}

.complete-alert {
  background-color: $color-bg-yellow;
  border-bottom: 1px solid $color-bg-gray;
  padding: 22px 16px;

  &-head {
    align-items: center;
    color: $color-red;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    padding: 0 0 16px;
  }

  &-text {
    text-align: center;
  }
}

.complete-head {
  border-bottom: 1px solid $color-bg-gray;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  padding: 32px 16px;
  text-align: center;
}

.complete-item {
  border-bottom: 1px solid $color-bg-gray;
  text-align: center;

  &__image {
    padding: 8px;
    width: 160px;
  }

  &__text {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 20px;
  }
}

.complete-text-center {
  border-bottom: 1px solid $color-bg-gray;
  padding: 32px;
  text-align: center;
}

.complete-price-text {
  font-size: 22px;
  font-weight: bold;
}

.complete-text-left {
  border-bottom: 1px solid $color-bg-gray;
  margin: 0 auto;
  padding: 26px 0 32px;
  width: 320px;
}

.complete-text-bold {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 16px;
}

.complete-link-text {
  display: block;
  font-weight: bold;
  padding: 16px 0 0;
}

.complete-text {
  line-height: 1.5;
}

.complete-icons {
  padding: 10px 0 0;

  &-wink {
    color: $color-pink;
  }

  &-meh {
    color: $color-orange;
  }

  &-frown {
    color: $color-blue;
  }
}