.item-form{
  &-header{
    text-align: center;
    &-icon{
      margin: 40px 0 0;
      width: 185px;
      height: 50px;
    }
    &-icon:hover{
      opacity: 0.7;
    }
  }
  .item-registration {
    margin: 30px auto;
    width: 700px;
    background-color: white;
    &__head {
      text-align: center;
      width: 100%;
      height: 100px;
      line-height: 100px;
      color: black;
      font-size: 22px;
      font-weight: bold;
    }
    &__form {
      width: 100%;
      &__group {
        width: 100%;
        padding: 40px 40px 0 40px;
        border-top: solid 2px whitesmoke;
        &__head {
          line-height: 160px;
          float: left;
          color: #888;
          font-size: 14px;
          font-weight: bold;
        }
        &__help {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: #0099e8;
          border-radius: 50%;
          color: white;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          &:hover {
            opacity: 0.7;
          }
        }
        .large-label {
          font-size: 16px;
        }
        &__notice {
          margin-top: 8px;
          color: black;
          font-size: 14px;
        }
        &__image-wrapper {
          width: 100%;
          align-items: center;
          margin-top: 16px;
          margin-bottom: 40px;
          display: flex;
        }
        &__image {
          width: 100%;
          padding: 40px;
          border: 1px dashed #ccc;
          cursor: pointer;
          min-height: 162px;
          background-color: #f3f3f3;
          text-align: center;
          position: relative;
          pre {
            position: absolute;
            top: 40%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-size: 14px;
            overflow: auto;
          }


          .image-preview {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
              width: 116px;
              margin: 16px 0 0 10px;
              background: gray;
              border: 1px solid gray;
              &:nth-of-type(5n+1) {
                margin-left: 0;
              }
              img {
                display: block;
                width: 114px;
                height: 114px;
                object-fit: contain;
              }
              span {
                display: inline-block;
                width: 50%;
                height: 44px;
                color: light-blue;
                font-size: 14px;
                line-height: 44px;
                text-align: center;
                cursor: pointer;
                &:first-of-type {
                  border-right: 1px solid gray;
                }
              }
            }
          }
          .nest-form {
            width: 100%;
            height: 160px;
            align-items: center;
            display: grid;
            margin-top: 16px;
            margin-bottom:40px;
            background-color: #f3f3f3;
            border: 1px dashed #ccc;
            cursor: pointer;
            &__head {
              text-align: center;
              p {
                display: block;
                font-family: monospace;
                color: black;
                font-size: 14px;
                white-space: pre-wrap;
                word-wrap: break-word;
              }
            }
          }
        }
        &__box {
          float: right;
          width: 400px;
          &__label {
            color: black;
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            vertical-align: bottom;
          }
          &__necessary {
            margin-left: 8px;
            padding: 3px 4px;
            background-color: red;
            border-radius: 2px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            vertical-align: bottom;
          }
          &__option {
            margin-left: 8px;
            padding: 3px 4px;
            background-color: #ccc;
            border-radius: 2px;
            color: white;
            font-size: 12px;
            vertical-align: bottom;
          }
          &__select {
            position: relative;
            width: 100%;
            margin-bottom: 40px;
            input {
              width: 100%;
              height: 48px;
              margin-top: 8px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background-color: white;
              font-size: 16px;
            }
            textarea {
              display: block;
              width: 100%;
              height: 140px;
              margin-top: 8px;
              padding: 10px;
              border: 1px solid #ccc;
              background-color: white;
              overflow-y: scroll;
              font-size: 16px;
            }
          }
          .middle, .bottom {
            display: none;
          }
        }
        .terms-n-exhibit {
          font-size: 0;
          p {
            display: inline;
            color: black;
            font-size: 14px;
          }
          a {
            color: #0099e8;
            font-size: 14px;
          }
        }
        &__actions {
          margin-top: 40px;
          width: 100%;
          input {
            width: 100%;
            height: 50px;
            background-color: red;
            color: white;
            font-size: 14px;
            cursor: pointer;
          }
        }
        &__return{
          text-align: center;
          .root-return-btn{
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            margin: 20px auto 40px;
            padding: 17px 120px;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      }
      &__detail{
        width: 100%;
        padding: 40px;
        border-top: solid 2px whitesmoke;
        display: inline-block;
        &__head{
          color: #888;
          font-size: 14px;
          font-weight: bold;
        }
        &__box{
          width: 400px;
          float: right;
          &__category{
            &__label {
              color: black;
              font-size: 14px;
              font-weight: bold;
              line-height: 1;
              vertical-align: bottom;
            }
            &__necessary {
              margin-left: 8px;
              padding: 3px 4px;
              background-color: red;
              border-radius: 2px;
              color: white;
              font-size: 12px;
              font-weight: bold;
              vertical-align: bottom;
            }
          }
          .select-box{
            &__body {
              display: block;
              width: 100%;
              height: 48px;
              margin-top: 8px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background-color: white;
              font-size: 16px;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }
          }
          .select-box-top {
            margin-bottom: 40px;
          }
          .brand-id-hidden {
            display: none;
          }
          .brand-suggest {
            position: relative;
            &__list {
              width: 400px;
              overflow: auto;
              position: absolute;
              left: 0;
              right: 0;
              z-index: 10;
              max-height: 280px;
              background: #fff;
              box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
              li {
                cursor: pointer;
                padding: 16px 8px;
                font-size: 14px;
              }
              li:hover {
                background: #0099e8;
                color: #fff;
              }
            }
          }
        }
      }
      .item-delivery{
        width: 100%;
        padding: 40px;
        border-top: solid 2px whitesmoke;
        display: inline-block;
        &__head{
          display: contents;
          color: #888;
          font-size: 14px;
          font-weight: bold;
        }
        &__box{
          width: 400px;
          float: right;
            &__label {
              color: black;
              font-size: 14px;
              font-weight: bold;
              line-height: 1;
              vertical-align: bottom;
            }
            &__necessary {
              margin-left: 8px;
              padding: 3px 4px;
              background-color: red;
              border-radius: 2px;
              color: white;
              font-size: 12px;
              font-weight: bold;
              vertical-align: bottom;
            }
          }
          .select-box{
            &__body {
              display: block;
              width: 100%;
              height: 48px;
              margin-top: 8px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background-color: white;
              font-size: 16px;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }
          }
          .select-box-top{
            margin-bottom: 40px;
          }
      }
      .item-price{
        width: 100%;
        padding: 40px;
        border-top: solid 2px whitesmoke;
        display: inline-block;
        &__head{
          display: contents;
          color: #888;
          font-size: 14px;
          font-weight: bold;
        }
        &__box{
          width: 400px;
          float: right;
          &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 24px 0;
            border-top: solid 1px #ccc;
            &:first-child {
              padding-top: 0;
              border-top: none;
            }
            &--left {
              p {
                color: black;
                font-size: 14px;
                line-height: 1;
              }
              h3 {
                color: black;
                font-size: 16px;
                font-weight: bold;
              }
            }
            &--right {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              span {
                padding-right: 8px;
                color: black;
                font-size: 14px;
              }
              input {
                width: 160px;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
                font-size: 14px;
                text-align: right;
              }
              p {
                color: black;
                font-size: 14px;
                line-height: 1;
              }
              h3 {
                color: rgb(51, 51, 51);
                font-size: 34px;
                font-weight: 600;
              }
            }
            .price-box{
              display: flex;
              span{
                line-height: 80px;
              }
              &__body {
                text-align: right;
                display: block;
                width: 100%;
                height: 48px;
                margin-top: 15px;
                margin-left: 10px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
                font-size: 16px;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }
            }
          }
            &__label {
              color: black;
              font-size: 14px;
              font-weight: bold;
              line-height: 1;
              vertical-align: bottom;
            }
            &__necessary {
              margin-left: 8px;
              padding: 3px 4px;
              background-color: red;
              border-radius: 2px;
              color: white;
              font-size: 12px;
              font-weight: bold;
              vertical-align: bottom;
            }
          }
      }
    }
  }
}

.create-modal-wrapper {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.create-modal {

  .create-modal__bg {
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  .create-modal__content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%,-50%);
  }
  .create-modal__head {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 80px;

  }
  .create-modal__body {
    padding: 40px;
    border-top: 1px solid #eee;
  }
  .create-modal__continue-link {
    display: block;
    margin: 40px auto 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
  }
  .create-modal__show-link {
    color: #0099e8;
    display: block;
    text-align: center;
    margin: 8px 0 0;
  }
}

.error-message__image,
.error-message__name,
.error-message__details,
.error-message__category,
.error-message__condition,
.error-message__delivery-fee,
.error-message__delivery-method,
.error-message__delivery-location,
.error-message__delivery-term,
.error-message__price {
  color: #ea352d;
}