.main-search {
  margin-right: 40px;
  width: 260px;
  .select{
    height: 50px;
    .sort-box{
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: 45px;
      padding: 10px;
    }
  }
  .search-box{
    background-color: rgb(255, 255, 255);
    margin-top:40px;
    padding: 20px;
    &-title{
    font-size: 20px;
    font-weight: 600;
    color: darkslategrey;
    margin-bottom: 10px;
    }
    &-group{
      margin-bottom: 15px;
      label{
        font-weight: 600;
        font-size: 18px;
        color: darkslategrey;
      }
      &-form{
        border: solid 1px lightgray;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin-top: 6px;
      }
      &-halfform{
        width: 40%;
        height: 40px;
        border: solid 1px lightgray;
        border-radius: 5px;
        margin-top: 6px;
      }
      &-checkbox{
        input{
          margin-left: 50px;
          margin-right: 5px;
        }
        input::before {
          content: "\A" ;
          white-space: pre ;
        }
        label{
          font-size: 15px;
          font-weight: 100;
        }
      }
      &-checkbox2{
        input{
          margin-right: 5px;
        }
        input::before {
          content: "\A" ;
          white-space: pre ;
        }
        label{
          font-size: 15px;
          font-weight: 100;
        }
      }
    }
    &-btn{
      display: flex;
      &-left{
        width: 50%;
        height: 50px;
        background-color: #aaa;
        color: #fff;
        margin-right: 10px;
      }
      &-right{
        width: 50%;
        height: 50px;
        background-color: #ea352d;
        color: #fff;
      }
    }
  }
}



.search-content{
  width:800px;
  .bold{
    font-size: 28px;
    font-weight: bold;
  }
  .count{
    margin-top: 8px;
    color: gray;
  }
  .items-container{
    margin: 15px auto;
    .items-box{
      display: flex;
      flex-wrap: wrap;
      .item-box{
        background-color: white;
        width: 160px;
        margin: 15px 0 0 20px;
        &-photo{
          width: 160px;
          height: 160px;
          &-pic{
            height: 100%;
            width:100%;
          }
        }
        &-body{
          height: 100px;
          padding: 16px;
          &-name{
            color: black;
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
          }
          &-num{
            display: flex;
            justify-content: space-between;
            margin:8px 0 0;
            &-price{
              font-size:15px;
              font-weight: 600;
              color:#333;
            }
            &-like{
              color: #333;
            }
            &-icon{
              font-size: 15px;
              font-weight: 400;
              color: #333;
            }
            span{
              font-size: 15px;
              font-weight: 400;
              color: #333;
            }
          }
        }
      }
    }
  }
}