// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F1EEED;

}

header{
  width: 100%;
  height: 100px;

}

.container{
  background-color: #F1EEED;
  padding-top: 40px;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  .item{
    background-color: white;
    box-sizing: border-box;
    padding: 0px 35px;
    margin: 0 auto 0;
  
    &__name{
      padding: 15px 0 15px 0;
    }  
    &__left{
      width: 48%;
      height: 100%;
      float: left;
      background-color: #F8F5F4;
      align-items: center;
      &__main{
        width: 100%;
        height: 60%;
      }   
      &__mainpic{
        height: 100%;
        width: 100%;
      }
      &__sub1{
        width: 100%;
        height: 20%;
        background-color: pink;
      }
      &__sub2{
        width: 100%;
        height: 20%;
        background-color:red;
      }
      &__subpic{
        width: 18%;
        height: 100%;
      }
    }
    &__right{
      width: 48%;
      float: right;
      height: 100%;
    }
    table,td,th{
      border: 1px solid #F2F2ED;
      border-collapse: collapse;
      font-size: 14px;
      box-sizing: border-box;
      // padding: 12px;
      width: 100%;
      text-align: left;
      font-weight: 100;
      a{
        color: rgba(0, 183, 255, 0.863);
      }    
      th{
        background-color: #F8F5F4;
        width: 40%;
        padding: 12px;
      }
      td{
        width: 60%;
        padding: 12px;
      }
    }
    
  
    &__info{
      margin-bottom: 15px;
      height: 450px;
    }
  }  
  #item__name{
    text-align: center;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    box-sizing: border-box;
    margin: 0;
  }

  .price{
    text-align: center;
    height: 50px;
    padding: 10px 0;
    box-sizing: border-box;
    &__one{
      font-size: 25px;
      font-weight: bold;
    }
    &__two{
      font-size: 5px;
    }
    &__three{
      font-size: 15px;
    }
  }

  .check{

    .checkout{
      text-align: center;
      box-sizing: border-box;
      font-size: 20px;
      height:45px;
      background-color: red;
      padding: 10px 200px;
      color: white;
      font-weight: bold;
    }  
  }
  
  .description{
    height: 300px;

    margin: 20px;
  }


  .comment{
    background-color: white;
    margin: 15px auto 0px;
    box-sizing: border-box;
    padding: 30px 35px 0 35px;
    height: 220px;
  
    .sns{
      text-align: center;
      padding-top: 70px;
      box-sizing: border-box;
      img{
      height: 40px;
      width: 40px;
      border-radius: 5px;
      }
    }
    #caution{
      padding: 5px 5px;
      box-sizing: border-box;
      background-color: #F9F2B4;
      width: 100%;
      margin-bottom: 5px;
    }
    
    textarea{
      width: 100%;
      height: 80px;
    }
    
    button{
      width: 100%;
      background: gray;
      height: 40px;
      font-size: 15px;
      color: white;
    }    
  }

  .page{
    height: 30px;
    margin: 5px auto 0;
    &__btn1{
      color: rgba(0, 183, 255, 0.863);
      float: left;
    }
    &__btn2{
      color: rgba(0, 183, 255, 0.863);
      float: right;
    }
  }

  .posts{
    padding: 15px 0;

    &__title{
      color: rgba(0, 183, 255, 0.863);
      font-size: 20px;
      padding-top: 10px;
      padding-bottom:10px;
      box-sizing: border-box;
  }
    &__items{
      margin: 5px auto 0;
      display: flex;
      height: 400px;
    }
    &__item1{
      width: 33%;
      height: 300px;
      margin: 0px 10px 20px 0px;
    }
    &__item2{
      width: 33%;
      height: 300px;
      margin: 0px 10px 20px 0px;
    }
  }

  .image{
    width: 100%;
    height: 100%;
  }
  
  .explaination{
    background-color: white;
    width: 100%;
    height: 100px;
  }  
}

.bottom_pagination{
  width: 100%;
  height: 40px;
  line-height: 40px;
  .home{
    float: left;
    color: black;
    font-weight: bold;
  }
}