.container{
  background-color: whitesmoke;
  padding-top: 40px;
  box-sizing: border-box;
  width: 70%;
  margin: 20px auto;
  .item{
    background-color: white;
    box-sizing: border-box;
    padding: 0px 35px;
    margin: 0 auto 0;
    &__name{
      padding: 15px 0 15px 0;
      text-align: center;
      width: 100%;
      height: 60px;
      font-weight: bold;
      font-size: 25px;
      line-height: 40px;
      box-sizing: border-box;
      margin: 0;
  
    }  
    &__left{
      width: 48%;
      height: 100%;
      float: left;
      background-color: white;
      align-items: center;
      position: relative;
      &__main{
        width: 100%;
        height: 60%;
        display: flex;
      }   
      &__mainpic{
        height: 300px;
        width: 100%;
        background-size: cover;
        
      }

      &__sub1{
        width: 100%;
        height: 20%;
        padding-left: 10px;
        background-color: white;
        display: flex;

      }
      // &__sub2{
      //   width: 100%;
      //   height: 20%;
      //   padding-left: 10px;
      //   background-color: white;

      // }
      &__subpic{
        width: 20%;
        background-color: white;
        margin-right: 5px;
        outline: none;
      }
    }
    &__right{
      width: 48%;
      float: right;
      height: 100%;
    }
    table,td,th{
      border: 1px solid #F2F2ED;
      border-collapse: collapse;
      font-size: 14px;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font-weight: 100;
      a{
        color: rgba(0, 183, 255, 0.863);
      }    
      th{
        background-color: #F8F5F4;
        width: 40%;
        padding: 12px;
      }
      td{
        width: 60%;
        padding: 12px;
      }
    }  
    &__info{
      margin-bottom: 15px;
      height: 450px;
    }
  }  
  .price{
    text-align: center;
    height: 70px;
    padding: 10px 0;
    box-sizing: border-box;
    &__one{
      font-size: 40px;
      font-weight: bold;
    }
    &__two{
      font-size: 5px;
    }
    &__three{
      font-size: 15px;
    }
  }
  .check{
    text-align: center;
    .to_checkout{
      text-align: center;
      box-sizing: border-box;
      font-size: 20px;
      height:45px;
      background-color: red;
      padding: 10px 200px;
      color: white;
      font-weight: bold;
    }  
  }
  .choice{
    text-align: center;
    .to_checkout{
      text-align: center;
      box-sizing: border-box;
      font-size: 20px;
      height:45px;
      background-color: red;
      padding: 10px 200px;
      color: white;
      margin-top: 5px;
    }
    .to_edit .to_delete{
      text-align: center;
      box-sizing: border-box;
      font-size: 20px;
      height:45px;
      background-color:lightgray;
      padding: 10px 200px;
      color: white;
    }
  }
  .description{
    height: 300px;
    margin: 30px;
  }
  .bottom{
    padding: 25px 0;
    &__content1{
      color: black;
      font-size: 13px;
      margin-right: 5px;
      background-color: whitesmoke;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 10px;
    }
    &__content2{
      color: rgba(0, 183, 255, 0.863);
      float: right;
      font-size: 13px;
    }
  }
  .comment{
    background-color: white;
    margin: 15px auto 0px;
    box-sizing: border-box;
    padding: 20px 35px 20px 35px;
    height: 220px;
    #caution{
      padding: 5px 5px;
      box-sizing: border-box;
      background-color: #fff6de;
      width: 100%;
      margin-bottom: 5px;
      font-size: 14px;
    }
    textarea{
      width: 100%;
      height: 80px;
    }
    button{
      width: 100%;
      background: #aaa;
      height: 40px;
      font-size: 14px;
      color: white;
    }
  }
  .edit{
    background-color: white;
    margin: 15px auto 0px;
    box-sizing: border-box;
    padding: 20px 35px 20px 35px;
    height: 250px;
    &-edit{
      text-align: center;
      margin: 0 auto;
      background-color: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      width: 100%;
      height: 53px;
      color: #F2F2ED;
        line-height: 53px;
      &:hover{
        opacity: 0.7;
      }
      &_btn{
        display: block;
        color: #F2F2ED;
        line-height: 53px;
      }
    }
    p{
      margin-top: 10px;
      text-align: center;
    }
    &-delete{
      text-align: center;
      margin: 10px auto 0;
      background-color: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      width: 100%;
      height: 53px;
      &:hover{
        opacity: 0.7;
      }
      &_btn{
        display: block;
        color: #F2F2ED;
        line-height: 53px;
      }
    }
  }
  .sns{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height:100px;
    &__icons{
      text-align: center;
      padding: 30px 0;
    }
  }
  .sns__icon{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    }
  .page{
    height: 30px;
    margin: 5px auto 0;
    &__btn1{
      color: rgba(0, 183, 255, 0.863);
      float: left;
      font-size: 13px;
    }
    &__btn2{
      color: rgba(0, 183, 255, 0.863);
      float: right;
      font-size: 13px;
    }
  }
  .posts{
    padding: 15px 0;
    &__title{
      color: rgba(0, 183, 255, 0.863);
      font-size: 20px;
      padding-top: 10px;
      padding-bottom:10px;
      box-sizing: border-box;
  }
    &__items{
      margin: 5px auto 0;
      height: 350px;
    }
    &__item1{
      display: flex;
    }
    &__item{
      width: 33%;
      height: 300px;
      margin: 0px 10px 20px 0px;
      .image{
        width: 100%;
        height: 200px;
        .other_item{
          height: 200px;
          width: 100%;
        }
      }  
    }
  }
  .explaination{
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    &__name{
      width: 100%;
      height: 60%;
      color: black;
    }
    &__price{
      width: 100%;
      height: 30%;
      font-weight: bold;
      color: black;
      .heart{
        float: right;
      }

    }
  }  
}

.bottom_pagination{
  width: 100%;
  height: 40px;
  line-height: 40px;
  .btn{
    span{
      font-size: 14px;
      font-weight: bold;
      padding-left: 5px;
    }
  }
  .breadcrumb{
    float: left;
    color:gray;
    font-weight: 100;
    padding-left: 200px;
    font-size: 13px;
  }
}

// 以下条件分岐CSS
//売れた時のSOLD
.triangle{
  height:0;
  width: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.sold{
  color: white;
  font-size: 20px;
  font-weight: bold;
  transform: rotate(-40deg);
  position: absolute;
  top: 23px;
  left: 7px;
}

//売れた時のボタン変更
.sold_out{
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  height:45px;
  width: 100%;
  color: white;
  background-color:gray;
  font-weight: bold;
}

//売れた時のコメント欄変更

.no_comment{
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  height:45px;
  width: 100%;
  color: white;
  background-color:gray;
}

.bread{
  width: 100%;
  height: 45px;
  padding: 0 200px;
  border-top: 1px solid #E9E9E5;
  a{
    font-size: 14px;
    color: gray;
    line-height: 45px;
  }
}

