.header {
  width: 100%;
  height: 100px;
  background-color: $white;
  padding-top: 8px;
  z-index: 1001;

  .header-inner {
    width: 1020px;
    margin: 0 auto;
    .header-top {
      display: flex;
      width: 100%;
      &__search-form-box {
        margin-left: 45px;
        width:100%;
      }
      &__search-form {
        width: 100%;
        display: flex;
        position: relative;
      }
      &__input-field {
        width: 100%;
        height: 40px;
        padding: 0 42px 0 10px;
        border-radius: 5px;
      }
      &__send {
        position: absolute;
        right: 15px;
        top: 10px;
        position: relative;
      }
      &__search-icon {
        font-size: 1rem;
        color: #333;
      }
      &__fa {
        position: absolute;
        right: 2px;
      }
    }

    .header-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      &__nav {
        display: flex;
        li {
          font-weight: 700;
          font-size: 14px;
        }
        li:hover > ul {
          border-right: solid 1px #CCCCCC;
          border-bottom: solid 1px #CCCCCC;
          border-left: solid 1px #CCCCCC;

        }
        li:hover > ul > li {
          overflow: visible;
          height: 44px;
          background: $white;
        }
      }
      &__search-by-category {
        padding-right: 11px;
        height: 44px;
        line-height: 32px;
        z-index: 10001;
        position: relative;
        ul {
          position: absolute;
          top: 45px;
          li {
            font-weight: 400;
            overflow: hidden;
            height: 0;
            padding: 0 16px;
            width: 224px;
            a {
              color: #333;
            }
          }
        }
      }
      &__search-by-brand {
        padding-left: 11px;
        height: 44px;
        line-height: 32px;
        z-index: 10001;
        position: relative;
        ul {
          position: absolute;
          top: 45px;
          li {
            font-weight: 400;
            overflow: hidden;
            height: 0;
            padding: 0 16px;
            width: 224px;
            a {
              color: #333;
            }
          }
        }

      }
      &__icon {
        color: #EA352D;
      }
      &__right-icon {
        color: #ccc;
        font-size: 18px;
      }

      &__user-nav {
        display: flex;
        li {
          padding: 0 14px;
          font-size: 14px;
          height: 44px;
          line-height: 32px;
        }
      }
      &__item {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
  a{
    color: #333
  }
}
