.main-side {
  margin-right: 40px;
  width: 280px;
}
.mypage-nav li {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #eee;
}
.mypage-nav__item {
  text-decoration: none;
  font-size: 14px;
  padding: 16px;
  display: block;
  color: #333;
}
.mypage-nav-head {
  margin-top: 40px;
  font-weight: bold;
}
.mypage-nav-merpay li {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #eee;
}
.mypage-nav-config li {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #eee;
}
