.select-box.select-box-top
  -# = f.collection_select :category_id_eq, Category.all.where(ancestry: '1/14'),:id, :name, {prompt: '---'}, {class: 'search-box-group-form'}
  = select_tag :category_id_eq, options_from_collection_for_select( gchildren, :id, :name), {prompt: '---', class: 'search-box-group-form'}