.item-box
  = link_to item_path(item) do
    .item-box-photo

      -if item.buyer_id != nil
        = image_tag item.images.first.image[0].url, class:"item-box-photo-pic"
        .triangle
        .sold SOLD
        .item__left__main
      -else
        = image_tag item.images.first.image[0].url, class:"item-box-photo-pic"

    .item-box-body
      %h3.item-box-body-name
        = item.name
      .item-box-body-num
        .item-box-body-num-price
          %span¥
          =item.price.to_s(:delimited)
        .item-box-body-num-like
          %i.item-box-body-num-like-icon ♡
          %span 18
