= render 'shared/header'

.container
  .purchase
    = render 'users/shared/main-side'

  .purchase-done
    %p 購入完了
    %p.small ご購入ありがとうございました！
    %p.small またのご利用をお待ちしております！

= render 'shared/bottom-banner'
= render 'shared/footer-black'