.user_registration
  .single-container
    %header.single-header
      %h1
        = link_to root_path do
          = image_tag "mercari_profile",alt:"mercari"
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status
            .progress-status2
          %li.active
            電話番号認証
            .progress-status
            .progress-status2
          %li.active
            お届け先住所入力
            .progress-status
            .progress-status2
          %li.active
            支払い方法
            .progress-status
            .progress-status2
          %li
            完了
            .progress-status
            .progress-status2
    %main.single-main
      = render 'shared/credit'

    .footer.single-footer
      = render 'shared/loginfooter'

